<% layout("/layout/new") %>
 
 <div class="profile-container">
  
    <!-- Cover -->
    <div class="cover-photo">
      <img src="<%= mentor.photo %>" alt="Profile Photo" class="profile-photo" id="profileImage">
      <input type="file" id="fileInput" accept="image/*" style="display:none;">
     <p class=""><%= mentor.contact.email %></p>
     <p><%= mentor.contact.phone %></p>
       
    </div>

    <!-- Profile Info -->
    <div class="profile-info">
      <h3><%= mentor.name %> <i class="bi bi-patch-check-fill text-primary"></i></h3>
      <p><%= mentor.expertise %></p>
      <p><i class="bi bi-geo-alt"></i> <%= mentor.location %>  </p>
      <!-- <p class="text-muted">500+ connections</p> -->

      <div class="profile-buttons">
        <!-- <button class="btn btn-primary"><i class="bi bi-chat-dots"></i> Message</button>
        <button class="btn btn-outline-primary"><i class="bi bi-person-plus"></i> Follow</button>
        <button class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">More</button> -->
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Share profile</a></li>
          <li><a class="dropdown-item" href="#">Save profile</a></li>
        </ul>
      </div>
    </div>

    <!-- About Section -->
    <div class="about-section">
      <h5>Practical Advice</h5>
      <p>
       “Every field tells a story. Listen to your soil, monitor your weather, and choose crops that fit your land. Mixing traditional knowledge with scientific farming will help you get the best yield with minimum cost.” 
      </p>
       <form action="/connect/<%= mentor._id %>">
        <button class="btn btn-light">Connect</button>
       </form>
    </div>
  </div>